body {
  font-family: 'Raleway', sans-serif;
}
a {
  color: #00b7ff;
  height: 100%;
}
/* For full page height stretch */
html,
body,
section,
.container {
  height: 100%;
}
.container img {
  height: 100%;
}
.social-container {
  padding: 180px 0 0 0;
}
.social {
  padding: 0px 10px 0px 10px;
  height: 75%;
}
#Home {
  background: url("/images/background.jpg") 50% 0 fixed;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
#AboutMe {
  background: url("/images/background.jpg") 50% 0 fixed;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
